*, *:before, *:after {
  position: relative; }

body {
  background: white; }

.codrops-header > h1 {
  color: #84899C; }
  .codrops-header > h1 > span {
    color: #C0C3CC; }

.content--related {
  color: #84899C; }

.media-item {
  color: #C0C3CC; }
  .media-item:hover {
    color: #84899C; }

.background:checked ~ .content {
  background-image: none !important; }

.content--fox {
  background-image: url("../img/fox-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
  overflow: hidden; }
  .content--fox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%201278%20533%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M1278%2C363%2E7V533H0V311%2E3c114%2E1%2C0%2C509%2E4%2C169%2C691%2E5%2C167%2E9C895%2E1%2C477%2E8%2C1212%2E1%2C363%2E7%2C1278%2C363%2E7z%22%2F%3E%3C%2Fsvg%3E"); }

.fox {
  position: absolute;
  height: 375px;
  width: 260px;
  transform-style: preserve-3d;
  animation: fox 17s none infinite, squiggly-anim 0.3s infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.8, 0.9);
  top: 130px;
  left: 60%;
  transform-origin: bottom right; }
  .fox, .fox *, .fox *:before, .fox *:after {
    transition: all 0.4s ease-out; }
  .fox * {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d; }
    .fox *:before, .fox *:after {
      content: '';
      position: absolute;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%; }

.head {
  animation: head 17s none infinite;
  height: 168px;
  width: 168px;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20id%3D%22circle%22%20d%3D%22M83%2E7%2C157%2E4c11%2E3%2C0%2C77%2E9%2D2%2E3%2C77%2E9%2D39%2E3c0%2C0%2C3%2E7%2C1%2C3%2E7%2C4%2E3c0%2C0%2C2%2E1%2D3%2E3%2C2%2E1%2D10%2E3s%2D9%2E3%2D78%2E2%2D83%2E7%2D78%2E2%20%20%20S0%2C105%2E1%2C0%2C112%2E1s2%2E1%2C10%2E3%2C2%2E1%2C10%2E3c0%2D3%2E3%2C3%2E7%2D4%2E3%2C3%2E7%2D4%2E3C5%2E8%2C155%2E1%2C72%2E4%2C157%2E4%2C83%2E7%2C157%2E4z%22%2F%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M83%2E7%2C139%2E9c38%2E2%2C0%2C40%2E1%2C6%2E9%2C40%2E1%2C6%2E9v5%2E7c%2D1%2E2%2C4%2E9%2D35%2E2%2C7%2E4%2D40%2E1%2C7%2E4s%2D39%2D2%2E6%2D40%2E1%2D7%2E4v%2D5%2E7%20%20%20C43%2E6%2C146%2E9%2C45%2E5%2C139%2E9%2C83%2E7%2C139%2E9z%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain; }

.face {
  perspective: 1000px;
  perspective-origin: center center; }
  .face, .face > * {
    height: 100%;
    width: 100%;
    background-size: contain; }

.front {
  animation: front 17s none infinite;
  transform-origin: bottom center; }
  .front:after {
    animation: front-after 17s none infinite;
    transform-origin: bottom right;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M83%2E7%2C154%2E4c14%2C0%2C71%2C0%2E1%2C70%2E3%2D38%2E5l3%2E8%2D1%2E5c0%2C0%2D24%2E1%2D35%2E5%2D74%2D35%2E5s%2D74%2C35%2E5%2D74%2C35%2E5l3%2E8%2C1%2E5%20%20%20C12%2E7%2C154%2E5%2C69%2E7%2C154%2E4%2C83%2E7%2C154%2E4z%22%2F%3E%3C%2Fsvg%3E"); }
  .front:before {
    animation: front-before 17s none infinite;
    transform-origin: right top;
    height: 81px;
    width: 110px;
    bottom: 8px;
    left: -26px;
    transform: rotateY(90deg);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%22%2D337%20181%2E6%20115%2E7%2081%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M%2D221%2E3%2C183%2E1c%2D33%2E5%2D3%2D115%2E7%2D2%2D115%2E7%2C7c0%2C40%2E5%2C69%2E3%2C49%2E1%2C79%2E2%2C59c13%2E1%2C13%2E1%2C36%2E5%2C13%2E5%2C36%2E5%2C13%2E5V183%2E1z%22%2F%3E%3C%2Fsvg%3E"); }

.nose {
  animation: nose 17s none infinite; }
  .nose:before {
    transform: translateZ(150px) scale(0.8);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23575A57%22%20d%3D%22M83%2E7%2C86%2E7c3%2E3%2C0%2C11%2E6%2D3%2E9%2C11%2E6%2D7%2E1c0%2D3%2E2%2D9%2E4%2D3%2E2%2D11%2E6%2D3%2E2c%2D2%2E2%2C0%2D11%2E6%2C0%2D11%2E6%2C3%2E2%20%20%20C72%2E1%2C82%2E8%2C80%2E4%2C86%2E7%2C83%2E7%2C86%2E7z%22%2F%3E%3Cpath%20stroke%3D%22%23575A57%22%20d%3D%22M83%2E7%2C102%2E3V86%2E7%22%2F%3E%3Cpath%20stroke%3D%22%23575A57%22%20fill%3D%22none%22%20d%3D%22M94%2E5%2C104%2E9c0%2C0%2D5%2E2%2D2%2E7%2D10%2E8%2D2%2E7c%2D5%2E6%2C0%2D10%2E8%2C2%2E7%2D10%2E8%2C2%2E7%22%2F%3E%3C%2Fsvg%3E"); }

.eyes {
  animation: eyes 17s none infinite;
  transform-origin: center 70px; }
  .eyes:before {
    transform: translateZ(100px) scale(0.8);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2258%2E9%22%20cy%3D%2268%22%20r%3D%225%2E4%22%2F%3E%3Ccircle%20cx%3D%22108%2E6%22%20cy%3D%2268%22%20r%3D%225%2E4%22%2F%3E%3C%2Fsvg%3E"); }

.ears {
  animation: ears 17s none infinite; }

.ear {
  height: 100%;
  width: 100%; }

.ear:first-child {
  animation: ear-left 17s none infinite;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M48%2E7%2C84%2E4c0%2C0%2D35%2E5%2C4%2E6%2D40%2D10%2E8s%2D8%2D57%2E2%2D2%2E5%2D70%2E9c0%2C0%2C66%2E7%2C34%2C66%2E7%2C52S48%2E7%2C84%2E4%2C48%2E7%2C84%2E4z%22%2F%3E%3C%2Fsvg%3E"); }

.ear:last-child {
  animation: ear-right 17s none infinite;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M118%2E8%2C84%2E4c0%2C0%2C35%2E5%2C4%2E6%2C40%2D10%2E8s8%2D57%2E2%2C2%2E5%2D70%2E9c0%2C0%2D66%2E8%2C34%2D66%2E8%2C52S118%2E8%2C84%2E4%2C118%2E8%2C84%2E4z%22%2F%3E%3C%2Fsvg%3E"); }

.torso {
  animation: torso 17s none infinite;
  height: 246px;
  width: 160px;
  top: 110px;
  left: 36px;
  transform-origin: top center; }
  .torso:before {
    height: 100%;
    width: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20160%20246%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M94%2E5%2C50%2E8c0%2C33%2C22%2E5%2C66%2E8%2C33%2E3%2C77%2E7s32%2E3%2C40%2E3%2C32%2E3%2C71%2E7s%2D14%2E3%2C46%2D32%2E8%2C46c%2D42%2E5%2C0%2D103%2E8%2D71%2E7%2D103%2E8%2D114%2E7%20%20%20%20S17%2E1%2C47%2E8%2C2%2E9%2C33%2E6S29%2E1%2C0%2C51%2E5%2C0s60%2E2%2C13%2C60%2E2%2C21%2E9S94%2E5%2C33%2E8%2C94%2E5%2C50%2E8z%22%2F%3E%3Cpath%20fill%3D%22%23E1E1E1%22%20d%3D%22M107%2E4%2C241%2E7C67%2E9%2C225%2E4%2C23%2E5%2C168%2C23%2E5%2C131%2E4c0%2D43%2D6%2E4%2D83%2E6%2D20%2E5%2D97%2E8S29%2E1%2C0%2C51%2E5%2C0s41%2E2%2C13%2C41%2E2%2C21%2E9%20%20%20%20S77%2E8%2C53%2E8%2C77%2E8%2C70%2E8c0%2C33%2C10%2E2%2C51%2E5%2C21%2E1%2C62%2E3s25%2E6%2C55%2E7%2C25%2E6%2C70%2E3C124%2E4%2C222%2E8%2C107%2E4%2C241%2E7%2C107%2E4%2C241%2E7z%22%2F%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M0%2C26%2E5c0%2C16%2E2%2C17%2E6%2C25%2E2%2C17%2E5%2C52%2E9c%2D0%2E1%2C20%2D4%2E7%2C29%2E9%2D4%2E7%2C43%2E6s6%2E6%2C48%2C37%2E6%2C56%2E4c0%2C0%2C0%2E7%2D5%2C3%2E7%2D5%20%20%20%20s8%2C7%2E3%2C14%2E3%2C7%2E3c0%2C0%2D0%2E7%2D5%2E7%2C1%2E7%2D5%2E7s5%2E5%2C4%2E3%2C9%2E9%2C4%2E3c0%2C0%2D1%2E7%2D8%2E9%2C2%2E6%2D13%2E2c0%2C0%2C0%2E5%2C3%2C2%2E5%2C3c0%2C0%2C1%2E8%2D5%2C4%2E5%2D6%2E5s9%2E2%2D8%2E8%2C9%2E2%2D14%2E8%20%20%20%20s%2D18%2E8%2D44%2E9%2D18%2E8%2D70%2E8s12%2E6%2D32%2E5%2C12%2E6%2D53%2E5S58%2E9%2C0%2C47%2E4%2C0S0%2C9%2C0%2C26%2E5z%22%2F%3E%3C%2Fsvg%3E"); }

.front-leg {
  top: 120px;
  left: 15px;
  height: 130px;
  width: 42px;
  z-index: -1;
  transform-origin: center top;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2042%20130%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M22%2E6%2C97%2E5c15%2E2%2C0%2C16%2D32%2C16%2D32S37%2E8%2C42%2C41%2E3%2C31S19%2E4%2C0%2C7%2E6%2C0C%2D4%2E1%2C0%2C0%2E3%2C20%2C3%2E8%2C31s2%2E8%2C34%2E5%2C2%2E8%2C34%2E5%20%20%20%20S7%2E3%2C97%2E5%2C22%2E6%2C97%2E5z%22%2F%3E%3C%2Fsvg%3E"); }
  .front-leg:before, .front-leg:after {
    transform-origin: 40px 63%;
    height: 100%;
    width: 100%; }
  .front-leg:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2042%20130%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M22%2E6%2C129%2E7c9%2E5%2C0%2C11%2E2%2D7%2E3%2C11%2E2%2D9%2E3s2%2E2%2D36%2E2%2C0%2D40%2E5c%2D2%2E2%2D4%2E3%2D2%2E5%2D6%2E3%2D11%2E2%2D6%2E3s%2D9%2C2%2D11%2E2%2C6%2E3%20%20%20%20c%2D2%2E2%2C4%2E3%2C0%2C38%2E5%2C0%2C40%2E5S13%2E1%2C129%2E7%2C22%2E6%2C129%2E7z%22%2F%3E%3C%2Fsvg%3E"); }
  .front-leg:first-child {
    animation: upper-left-leg 17s none infinite; }
    .front-leg:first-child:before {
      animation: lower-left-leg 17s none infinite; }
  .front-leg:last-child {
    animation: upper-right-leg 17s none infinite; }
    .front-leg:last-child:before {
      animation: lower-right-leg 17s none infinite; }
  .front-leg + .front-leg {
    left: 90px;
    z-index: 1; }

.tail {
  z-index: -1;
  width: 40px;
  height: 40px;
  transform-origin: center bottom; }
  .tail:before {
    transform-origin: center bottom;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2066%2E4%2066%2E4%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M33%2E2%2C0C14%2E9%2C0%2C0%2C14%2E9%2C0%2C33%2E2C0%2C42%2E7%2C0%2E9%2C61%2C2%2E6%2C66%2E4h30%2E6h30%2E6c1%2E7%2D5%2E3%2C2%2E6%2D23%2E7%2C2%2E6%2D33%2E2%20%20%20C66%2E4%2C14%2E9%2C51%2E5%2C0%2C33%2E2%2C0z%22%2F%3E%3C%2Fsvg%3E"); }
  .fox > .tail {
    transform: rotate(90deg);
    top: 280px;
    left: 160px; }
  .tail > .tail {
    animation: tail-inner 3s ease-in-out both infinite;
    top: -20px;
    transform: scale(1.1) rotate(-35deg); }
  .tail > .tail > .tail > .tail > .tail {
    animation: tail-outer 3s ease-in-out both infinite;
    transform: scale(1.1) rotate(15deg); }

.snow {
  z-index: 10;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  animation: snow 1.3s linear infinite;
  box-shadow: 423.39638px 529.52865px white, 2022.39638px 529.52865px white, 1455.8981px 93.84561px white, 3054.8981px 93.84561px white, 650.82095px 231.44932px white, 2249.82095px 231.44932px white, 1160.50609px 261.65878px white, 2759.50609px 261.65878px white, 545.87681px 338.56072px white, 2144.87681px 338.56072px white, 1134.27541px 403.97682px white, 2733.27541px 403.97682px white, 384.63674px 434.84662px white, 1983.63674px 434.84662px white, 1110.98025px 443.79507px white, 2709.98025px 443.79507px white, 608.0843px 267.8915px white, 2207.0843px 267.8915px white, 169.69283px 295.7271px white, 1768.69283px 295.7271px white, 1289.75469px 196.5844px white, 2888.75469px 196.5844px white, 1326.65595px 5.93758px white, 2925.65595px 5.93758px white, 761.55734px 268.13614px white, 2360.55734px 268.13614px white, 463.66066px 482.45235px white, 2062.66066px 482.45235px white, 872.14848px 376.35188px white, 2471.14848px 376.35188px white, 1374.38176px 458.44668px white, 2973.38176px 458.44668px white, 1156.53745px 200.49306px white, 2755.53745px 200.49306px white, 334.79407px 260.22406px white, 1933.79407px 260.22406px white, 62.49151px 450.3242px white, 1661.49151px 450.3242px white, 1005.15353px 32.97356px white, 2604.15353px 32.97356px white, 175.92948px 392.46471px white, 1774.92948px 392.46471px white, 955.95027px 421.50322px white, 2554.95027px 421.50322px white, 1132.17398px 43.01072px white, 2731.17398px 43.01072px white, 781.50253px 26.18843px white, 2380.50253px 26.18843px white, 718.06416px 151.87615px white, 2317.06416px 151.87615px white, 973.49476px 205.28174px white, 2572.49476px 205.28174px white, 1510.48662px 159.16714px white, 3109.48662px 159.16714px white, 869.18744px 432.57139px white, 2468.18744px 432.57139px white, 1322.04978px 363.74375px white, 2921.04978px 363.74375px white, 1188.49116px 529.06439px white, 2787.49116px 529.06439px white, 421.24401px 40.7214px white, 2020.24401px 40.7214px white, 1218.03062px 196.12771px white, 2817.03062px 196.12771px white, 1245.65444px 357.61689px white, 2844.65444px 357.61689px white, 1009.31365px 135.45777px white, 2608.31365px 135.45777px white, 446.4228px 455.62174px white, 2045.4228px 455.62174px white, 59.77893px 92.22228px white, 1658.77893px 92.22228px white, 824.68138px 194.87896px white, 2423.68138px 194.87896px white, 108.48592px 496.72636px white, 1707.48592px 496.72636px white, 1065.64333px 243.62683px white, 2664.64333px 243.62683px white, 918.90683px 201.71068px white, 2517.90683px 201.71068px white, 543.5812px 54.9603px white, 2142.5812px 54.9603px white, 1320.69194px 189.94833px white, 2919.69194px 189.94833px white, 283.16928px 460.34704px white, 1882.16928px 460.34704px white, 361.95762px 413.66882px white, 1960.95762px 413.66882px white, 32.04868px 287.37045px white, 1631.04868px 287.37045px white, 1419.68026px 53.38445px white, 3018.68026px 53.38445px white, 1308.02214px 140.21995px white, 2907.02214px 140.21995px white, 614.3766px 409.39539px white, 2213.3766px 409.39539px white, 897.14985px 477.30691px white, 2496.14985px 477.30691px white, 1156.15488px 342.64126px white, 2755.15488px 342.64126px white, 628.5072px 364.89619px white, 2227.5072px 364.89619px white, 1375.22963px 285.05246px white, 2974.22963px 285.05246px white, 343.34612px 128.47501px white, 1942.34612px 128.47501px white, 517.85197px 517.72284px white, 2116.85197px 517.72284px white, 1252.63893px 515.68345px white, 2851.63893px 515.68345px white, 1191.88359px 313.51077px white, 2790.88359px 313.51077px white, 145.84158px 369.26779px white, 1744.84158px 369.26779px white, 257.59801px 283.3627px white, 1856.59801px 283.3627px white, 1490.57799px 232.93452px white, 3089.57799px 232.93452px white, 966.31665px 322.56233px white, 2565.31665px 322.56233px white, 1030.13703px 88.50134px white, 2629.13703px 88.50134px white, 595.39683px 209.79267px white, 2194.39683px 209.79267px white, 473.13714px 289.54779px white, 2072.13714px 289.54779px white, 1482.92094px 83.29259px white, 3081.92094px 83.29259px white, 1476.91944px 532.73876px white, 3075.91944px 532.73876px white, 899.16296px 508.94357px white, 2498.16296px 508.94357px white, 843.80167px 197.22074px white, 2442.80167px 197.22074px white, 1403.70285px 101.99513px white, 3002.70285px 101.99513px white, 1534.32167px 295.16977px white, 3133.32167px 295.16977px white, 940.54943px 474.67808px white, 2539.54943px 474.67808px white, 389.29649px 171.51164px white, 1988.29649px 171.51164px white, 1427.7579px 452.52112px white, 3026.7579px 452.52112px white, 1427.73889px 34.06762px white, 3026.73889px 34.06762px white, 1230.82441px 43.11031px white, 2829.82441px 43.11031px white, 852.24522px 109.2999px white, 2451.24522px 109.2999px white, 416.46281px 388.05785px white, 2015.46281px 388.05785px white, 565.93833px 82.42097px white, 2164.93833px 82.42097px white, 914.84393px 64.0532px white, 2513.84393px 64.0532px white, 135.86289px 210.17926px white, 1734.86289px 210.17926px white, 835.28563px 86.15652px white, 2434.28563px 86.15652px white, 700.6655px 297.53164px white, 2299.6655px 297.53164px white, 350.29048px 330.98513px white, 1949.29048px 330.98513px white, 285.6575px 119.08268px white, 1884.6575px 119.08268px white, 1585.89666px 91.2852px white, 3184.89666px 91.2852px white, 923.73623px 373.49009px white, 2522.73623px 373.49009px white, 518.27885px 248.09983px white, 2117.27885px 248.09983px white, 1107.67602px 48.14295px white, 2706.67602px 48.14295px white, 396.36274px 182.00171px white, 1995.36274px 182.00171px white, 1280.15255px 486.05165px white, 2879.15255px 486.05165px white, 843.17826px 92.7512px white, 2442.17826px 92.7512px white, 47.78582px 180.26595px white, 1646.78582px 180.26595px white, 567.99507px 152.52101px white, 2166.99507px 152.52101px white, 710.94773px 242.05828px white, 2309.94773px 242.05828px white, 332.78636px 360.84182px white, 1931.78636px 360.84182px white, 998.52056px 337.9197px white, 2597.52056px 337.9197px white, 252.56316px 233.34777px white, 1851.56316px 233.34777px white, 1435.26215px 257.49172px white, 3034.26215px 257.49172px white, 1408.11351px 170.93693px white, 3007.11351px 170.93693px white, 1528.59242px 356.28646px white, 3127.59242px 356.28646px white, 1168.3677px 230.9257px white, 2767.3677px 230.9257px white; }

@keyframes snow {
  from {
    transform: rotate(-10deg) translateX(-1599px); }
  to {
    transform: rotate(-10deg) translateX(0); } }

@keyframes tail-inner {
  0% {
    transform: scale(1.1) rotate(-38deg); }
  50% {
    transform: scale(1.1) rotate(-35deg); }
  100% {
    transform: scale(1.1) rotate(-38deg); } }

@keyframes tail-outer {
  0% {
    transform: scale(1.1) rotate(-3deg); }
  50% {
    transform: scale(1.1) rotate(15deg); }
  100% {
    transform: scale(1.1) rotate(-3deg); } }

@keyframes fox {
  0% {
    transform: scale(0.55); opacity: 0; }
  5.88235% {
    transform: scale(0.6); opacity: 1; }
  11.76471% {
    transform: scale(0.7); }
  17.64706% {
    transform: scale(0.825); }
  23.52941% {
    transform: scale(0.95); }
  27.64706% {
    transform: scale(1); animation-timing-function: ease-in-out; }
  82.35294% {
    opacity: 1; }
  91.17647% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes torso {
  5.88235% {
    transform: translateY(5px); }
  11.76471% {
    transform: translateY(5px); }
  17.64706% {
    transform: translateY(5px); }
  23.52941% {
    transform: translateY(5px); }
  7.05882% {
    transform: initial; }
  12.94118% {
    transform: initial; }
  18.82353% {
    transform: initial; }
  24.70588% {
    transform: initial; } }

@keyframes head {
  5.88235% {
    transform: translateY(10px); }
  11.76471% {
    transform: translateY(10px); }
  17.64706% {
    transform: translateY(10px); }
  23.52941% {
    transform: translateY(10px); }
  7.05882% {
    transform: translateY(0); }
  12.94118% {
    transform: translateY(0); }
  18.82353% {
    transform: translateY(0); }
  24.70588% {
    transform: translateY(0); } }

@keyframes upper-left-leg {
  0% {
    transform: rotate(0); }
  5.88235% {
    transform: rotate(15deg); }
  11.76471% {
    transform: rotate(0); }
  17.64706% {
    transform: rotate(15deg); }
  23.52941% {
    transform: rotate(0); }
  26.47059% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(-5deg); } }

@keyframes lower-left-leg {
  0% {
    transform: rotate(0); }
  5.88235% {
    transform: rotate(-15deg); }
  11.76471% {
    transform: rotate(0); }
  17.64706% {
    transform: rotate(-15deg); }
  23.52941% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }

@keyframes upper-right-leg {
  5.88235% {
    transform: rotate(0); }
  11.76471% {
    transform: rotate(20deg); }
  17.64706% {
    transform: rotate(0); }
  23.52941% {
    transform: rotate(20deg); }
  29.41176% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(10deg); } }

@keyframes lower-right-leg {
  5.88235% {
    transform: rotate(0); }
  11.76471% {
    transform: rotate(-20deg); }
  17.64706% {
    transform: rotate(0); }
  23.52941% {
    transform: rotate(-20deg); }
  29.41176% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(-10deg); } }

@keyframes eyes {
  14.70588% {
    transform: rotateY(-4deg); }
  17.64706% {
    transform: rotateY(-4deg); }
  23.52941% {
    transform: rotateY(-4deg); }
  29.41176% {
    transform: rotateY(-4deg); }
  41.17647% {
    transform: rotateY(-4deg); }
  16.17647% {
    transform: rotateY(-4deg) scaleY(0.2); }
  26.47059% {
    transform: rotateY(-4deg) rotateX(-3deg) scaleY(0.2); }
  44.11765% {
    transform: rotateY(-24deg) rotateZ(-12deg) rotateX(-2deg); }
  52.94118% {
    transform: rotateY(-24deg) rotateZ(-12deg) rotateX(-2deg); }
  55.88235% {
    transform: rotateY(10deg) rotateX(1deg); }
  70.58824% {
    transform: rotateY(10deg) rotateX(1deg); }
  76.47059% {
    transform: rotate(0); } }

@keyframes nose {
  23.52941% {
    transform: rotateY(-4deg); }
  29.41176% {
    transform: rotateY(-4deg); }
  41.17647% {
    transform: rotateY(-4deg); }
  26.47059% {
    transform: rotateY(-4deg) rotateX(-3deg); }
  44.11765% {
    transform: rotateX(-3deg) rotateY(-28deg) rotateZ(-11deg); }
  52.94118% {
    transform: rotateX(-3deg) rotateY(-28deg) rotateZ(-11deg); }
  55.88235% {
    transform: rotateY(7deg); }
  70.58824% {
    transform: rotateY(7deg); }
  76.47059% {
    transform: rotateY(0); } }

@keyframes ears {
  41.17647% {
    transform: initial; }
  44.11765% {
    transform: rotateY(-40deg) rotateZ(-13deg); }
  52.94118% {
    transform: rotateY(-40deg) rotateZ(-13deg); }
  55.88235% {
    transform: rotateY(-10deg); }
  70.58824% {
    transform: rotateY(-10deg); } }

@keyframes ear-left {
  23.52941% {
    transform: rotate(10deg); }
  29.41176% {
    transform: rotate(10deg); }
  41.17647% {
    transform: rotate(10deg); }
  44.11765% {
    transform: rotateZ(14deg) scaleX(1.2); }
  52.94118% {
    transform: rotateZ(14deg) scaleX(1.2); }
  55.88235% {
    transform: rotate(10deg); }
  70.58824% {
    transform: rotate(10deg); } }

@keyframes ear-right {
  23.52941% {
    transform: rotate(-10deg); }
  29.41176% {
    transform: rotate(-10deg); }
  41.17647% {
    transform: rotate(-10deg); }
  44.11765% {
    transform: translateX(-19px) rotateZ(-7deg) scaleX(1.2); }
  52.94118% {
    transform: translateX(-19px) rotateZ(-7deg) scaleX(1.2); }
  55.88235% {
    transform: rotate(-10deg); }
  70.58824% {
    transform: rotate(-10deg); } }

@keyframes front {
  23.52941% {
    transform: translateX(-3px) skewX(5deg) scaleX(0.9); }
  29.41176% {
    transform: translateX(-3px) skewX(5deg) scaleX(0.9); }
  41.17647% {
    transform: translateX(-3px) skewX(5deg) scaleX(0.9); }
  26.47059% {
    transform: translateX(-3px) skewX(5deg) scaleX(0.9) scaleY(0.9); }
  44.11765% {
    transform: translateY(5px); }
  52.94118% {
    transform: translateY(5px); }
  55.88235% {
    transform: skewX(-10deg); }
  70.58824% {
    transform: skewX(-10deg); }
  76.47059% {
    transform: skewX(0); } }

@keyframes front-before {
  41.17647% {
    transform: rotateY(90deg); }
  44.11765% {
    transform: scaleY(1.1) rotateY(35deg); }
  52.94118% {
    transform: scaleY(1.1) rotateY(35deg); }
  55.88235% {
    transform: rotateY(90deg); }
  70.58824% {
    transform: rotateY(90deg); }
  100% {
    transform: rotateY(90deg); } }

@keyframes front-after {
  41.17647% {
    transform: skewX(0); }
  44.11765% {
    transform: skewX(10deg); }
  52.94118% {
    transform: skewX(10deg); }
  55.88235% {
    transform: skewX(0); } }

@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0"); }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1"); }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2"); }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3"); }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4"); } }
