*, *:before, *:after {
  position: relative; }

body {
  background: white; }

.codrops-header > h1 {
  color: #84899C; }
  .codrops-header > h1 > span {
    color: #C0C3CC; }

.content--related {
  color: #84899C; }

.media-item {
  color: #C0C3CC; }
  .media-item:hover {
    color: #84899C; }

.background:checked ~ .content {
  background-image: none !important; }

.content--fox {
  background-image: url("../img/fox-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vmax;
  height: 42vmax;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%); }
  .content--fox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%201278%20533%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M1278%2C363%2E7V533H0V311%2E3c114%2E1%2C0%2C509%2E4%2C169%2C691%2E5%2C167%2E9C895%2E1%2C477%2E8%2C1212%2E1%2C363%2E7%2C1278%2C363%2E7z%22%2F%3E%3C%2Fsvg%3E"); }

.fox {
  position: absolute;
  height: 18.75vmax;
  width: 13vmax;
  transform-style: preserve-3d;
  animation: fox 17s none infinite, squigglevision 0.3s infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.8, 0.9);
  top: 20vmax;
  left: 60%;
  transform-origin: bottom right; }
  .fox *, .fox *:before, .fox *:after {
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important; }
  .fox * {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d; }
    .fox *:before, .fox *:after {
      content: '';
      position: absolute;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%; }

.head {
  animation: head 17s none infinite;
  height: 8.4vmax;
  width: 8.4vmax;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20id%3D%22circle%22%20d%3D%22M83%2E7%2C157%2E4c11%2E3%2C0%2C77%2E9%2D2%2E3%2C77%2E9%2D39%2E3c0%2C0%2C3%2E7%2C1%2C3%2E7%2C4%2E3c0%2C0%2C2%2E1%2D3%2E3%2C2%2E1%2D10%2E3s%2D9%2E3%2D78%2E2%2D83%2E7%2D78%2E2%20%20%20S0%2C105%2E1%2C0%2C112%2E1s2%2E1%2C10%2E3%2C2%2E1%2C10%2E3c0%2D3%2E3%2C3%2E7%2D4%2E3%2C3%2E7%2D4%2E3C5%2E8%2C155%2E1%2C72%2E4%2C157%2E4%2C83%2E7%2C157%2E4z%22%2F%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M83%2E7%2C139%2E9c38%2E2%2C0%2C40%2E1%2C6%2E9%2C40%2E1%2C6%2E9v5%2E7c%2D1%2E2%2C4%2E9%2D35%2E2%2C7%2E4%2D40%2E1%2C7%2E4s%2D39%2D2%2E6%2D40%2E1%2D7%2E4v%2D5%2E7%20%20%20C43%2E6%2C146%2E9%2C45%2E5%2C139%2E9%2C83%2E7%2C139%2E9z%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain; }

.face {
  perspective: 50vmax;
  perspective-origin: center center; }
  .face, .face > * {
    height: 100%;
    width: 100%;
    background-size: contain; }

.front {
  animation: front 17s none infinite;
  transform-origin: bottom center; }
  .front:after {
    animation: front-after 17s none infinite;
    transform-origin: bottom right;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M83%2E7%2C154%2E4c14%2C0%2C71%2C0%2E1%2C70%2E3%2D38%2E5l3%2E8%2D1%2E5c0%2C0%2D24%2E1%2D35%2E5%2D74%2D35%2E5s%2D74%2C35%2E5%2D74%2C35%2E5l3%2E8%2C1%2E5%20%20%20C12%2E7%2C154%2E5%2C69%2E7%2C154%2E4%2C83%2E7%2C154%2E4z%22%2F%3E%3C%2Fsvg%3E"); }
  .front:before {
    animation: front-before 17s none infinite;
    transform-origin: right top;
    height: 4.05vmax;
    width: 5.5vmax;
    bottom: 0.4vmax;
    left: -1.3vmax;
    transform: rotateY(90deg);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%22%2D337%20181%2E6%20115%2E7%2081%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M%2D221%2E3%2C183%2E1c%2D33%2E5%2D3%2D115%2E7%2D2%2D115%2E7%2C7c0%2C40%2E5%2C69%2E3%2C49%2E1%2C79%2E2%2C59c13%2E1%2C13%2E1%2C36%2E5%2C13%2E5%2C36%2E5%2C13%2E5V183%2E1z%22%2F%3E%3C%2Fsvg%3E"); }

.nose {
  animation: nose 17s none infinite; }
  .nose:before {
    transform: translateZ(7.5vmax) scale(0.8);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23575A57%22%20d%3D%22M83%2E7%2C86%2E7c3%2E3%2C0%2C11%2E6%2D3%2E9%2C11%2E6%2D7%2E1c0%2D3%2E2%2D9%2E4%2D3%2E2%2D11%2E6%2D3%2E2c%2D2%2E2%2C0%2D11%2E6%2C0%2D11%2E6%2C3%2E2%20%20%20C72%2E1%2C82%2E8%2C80%2E4%2C86%2E7%2C83%2E7%2C86%2E7z%22%2F%3E%3Cpath%20stroke%3D%22%23575A57%22%20d%3D%22M83%2E7%2C102%2E3V86%2E7%22%2F%3E%3Cpath%20stroke%3D%22%23575A57%22%20fill%3D%22none%22%20d%3D%22M94%2E5%2C104%2E9c0%2C0%2D5%2E2%2D2%2E7%2D10%2E8%2D2%2E7c%2D5%2E6%2C0%2D10%2E8%2C2%2E7%2D10%2E8%2C2%2E7%22%2F%3E%3C%2Fsvg%3E"); }

.eyes {
  animation: eyes 17s none infinite;
  transform-origin: center 3.5vmax; }
  .eyes:before {
    transform: translateZ(5vmax) scale(0.8);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2258%2E9%22%20cy%3D%2268%22%20r%3D%225%2E4%22%2F%3E%3Ccircle%20cx%3D%22108%2E6%22%20cy%3D%2268%22%20r%3D%225%2E4%22%2F%3E%3C%2Fsvg%3E"); }

.ears {
  animation: ears 17s none infinite; }

.ear {
  height: 100%;
  width: 100%; }

.ear:first-child {
  animation: ear-left 17s none infinite;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M48%2E7%2C84%2E4c0%2C0%2D35%2E5%2C4%2E6%2D40%2D10%2E8s%2D8%2D57%2E2%2D2%2E5%2D70%2E9c0%2C0%2C66%2E7%2C34%2C66%2E7%2C52S48%2E7%2C84%2E4%2C48%2E7%2C84%2E4z%22%2F%3E%3C%2Fsvg%3E"); }

.ear:last-child {
  animation: ear-right 17s none infinite;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20168%20168%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M118%2E8%2C84%2E4c0%2C0%2C35%2E5%2C4%2E6%2C40%2D10%2E8s8%2D57%2E2%2C2%2E5%2D70%2E9c0%2C0%2D66%2E8%2C34%2D66%2E8%2C52S118%2E8%2C84%2E4%2C118%2E8%2C84%2E4z%22%2F%3E%3C%2Fsvg%3E"); }

.torso {
  animation: torso 17s none infinite;
  height: 12.3vmax;
  width: 8vmax;
  top: 5.5vmax;
  left: 1.8vmax;
  transform-origin: top center; }
  .torso:before {
    height: 100%;
    width: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20160%20246%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M94%2E5%2C50%2E8c0%2C33%2C22%2E5%2C66%2E8%2C33%2E3%2C77%2E7s32%2E3%2C40%2E3%2C32%2E3%2C71%2E7s%2D14%2E3%2C46%2D32%2E8%2C46c%2D42%2E5%2C0%2D103%2E8%2D71%2E7%2D103%2E8%2D114%2E7%20%20%20%20S17%2E1%2C47%2E8%2C2%2E9%2C33%2E6S29%2E1%2C0%2C51%2E5%2C0s60%2E2%2C13%2C60%2E2%2C21%2E9S94%2E5%2C33%2E8%2C94%2E5%2C50%2E8z%22%2F%3E%3Cpath%20fill%3D%22%23E1E1E1%22%20d%3D%22M107%2E4%2C241%2E7C67%2E9%2C225%2E4%2C23%2E5%2C168%2C23%2E5%2C131%2E4c0%2D43%2D6%2E4%2D83%2E6%2D20%2E5%2D97%2E8S29%2E1%2C0%2C51%2E5%2C0s41%2E2%2C13%2C41%2E2%2C21%2E9%20%20%20%20S77%2E8%2C53%2E8%2C77%2E8%2C70%2E8c0%2C33%2C10%2E2%2C51%2E5%2C21%2E1%2C62%2E3s25%2E6%2C55%2E7%2C25%2E6%2C70%2E3C124%2E4%2C222%2E8%2C107%2E4%2C241%2E7%2C107%2E4%2C241%2E7z%22%2F%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M0%2C26%2E5c0%2C16%2E2%2C17%2E6%2C25%2E2%2C17%2E5%2C52%2E9c%2D0%2E1%2C20%2D4%2E7%2C29%2E9%2D4%2E7%2C43%2E6s6%2E6%2C48%2C37%2E6%2C56%2E4c0%2C0%2C0%2E7%2D5%2C3%2E7%2D5%20%20%20%20s8%2C7%2E3%2C14%2E3%2C7%2E3c0%2C0%2D0%2E7%2D5%2E7%2C1%2E7%2D5%2E7s5%2E5%2C4%2E3%2C9%2E9%2C4%2E3c0%2C0%2D1%2E7%2D8%2E9%2C2%2E6%2D13%2E2c0%2C0%2C0%2E5%2C3%2C2%2E5%2C3c0%2C0%2C1%2E8%2D5%2C4%2E5%2D6%2E5s9%2E2%2D8%2E8%2C9%2E2%2D14%2E8%20%20%20%20s%2D18%2E8%2D44%2E9%2D18%2E8%2D70%2E8s12%2E6%2D32%2E5%2C12%2E6%2D53%2E5S58%2E9%2C0%2C47%2E4%2C0S0%2C9%2C0%2C26%2E5z%22%2F%3E%3C%2Fsvg%3E"); }

.front-leg {
  top: 6vmax;
  left: 0.75vmax;
  height: 6.5vmax;
  width: 2.1vmax;
  z-index: -1;
  transform-origin: center top;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2042%20130%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M22%2E6%2C97%2E5c15%2E2%2C0%2C16%2D32%2C16%2D32S37%2E8%2C42%2C41%2E3%2C31S19%2E4%2C0%2C7%2E6%2C0C%2D4%2E1%2C0%2C0%2E3%2C20%2C3%2E8%2C31s2%2E8%2C34%2E5%2C2%2E8%2C34%2E5%20%20%20%20S7%2E3%2C97%2E5%2C22%2E6%2C97%2E5z%22%2F%3E%3C%2Fsvg%3E"); }
  .front-leg:before, .front-leg:after {
    transform-origin: 2vmax 63%;
    height: 100%;
    width: 100%; }
  .front-leg:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2042%20130%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M22%2E6%2C129%2E7c9%2E5%2C0%2C11%2E2%2D7%2E3%2C11%2E2%2D9%2E3s2%2E2%2D36%2E2%2C0%2D40%2E5c%2D2%2E2%2D4%2E3%2D2%2E5%2D6%2E3%2D11%2E2%2D6%2E3s%2D9%2C2%2D11%2E2%2C6%2E3%20%20%20%20c%2D2%2E2%2C4%2E3%2C0%2C38%2E5%2C0%2C40%2E5S13%2E1%2C129%2E7%2C22%2E6%2C129%2E7z%22%2F%3E%3C%2Fsvg%3E"); }
  .front-leg:first-child {
    animation: upper-left-leg 17s none infinite; }
    .front-leg:first-child:before {
      animation: lower-left-leg 17s none infinite; }
  .front-leg:last-child {
    animation: upper-right-leg 17s none infinite; }
    .front-leg:last-child:before {
      animation: lower-right-leg 17s none infinite; }
  .front-leg + .front-leg {
    left: 4.5vmax;
    z-index: 1; }

.tail {
  z-index: -1;
  width: 2vmax;
  height: 2vmax;
  transform-origin: center bottom; }
  .tail:before {
    transform-origin: center bottom;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2066%2E4%2066%2E4%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23CE8D86%22%20d%3D%22M33%2E2%2C0C14%2E9%2C0%2C0%2C14%2E9%2C0%2C33%2E2C0%2C42%2E7%2C0%2E9%2C61%2C2%2E6%2C66%2E4h30%2E6h30%2E6c1%2E7%2D5%2E3%2C2%2E6%2D23%2E7%2C2%2E6%2D33%2E2%20%20%20C66%2E4%2C14%2E9%2C51%2E5%2C0%2C33%2E2%2C0z%22%2F%3E%3C%2Fsvg%3E"); }
  .fox > .tail {
    transform: rotate(90deg);
    top: 14vmax;
    left: 8vmax; }
  .tail > .tail {
    animation: tail-inner 3s ease-in-out both infinite;
    top: -1vmax;
    transform: scale(1.1) rotate(-35deg); }
  .tail > .tail > .tail > .tail > .tail {
    animation: tail-outer 3s ease-in-out both infinite;
    transform: scale(1.1) rotate(15deg); }

.snow:before, .snow:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  animation: snow 1.3s linear infinite;
  box-shadow: 1004.17317px 41.8505px white, 2603.17317px 41.8505px white, 1514.23987px 0.5927px white, 3113.23987px 0.5927px white, 541.22875px 29.54938px white, 2140.22875px 29.54938px white, 594.71575px 111.97334px white, 2193.71575px 111.97334px white, 1426.89642px 31.70998px white, 3025.89642px 31.70998px white, 1315.43397px 258.7504px white, 2914.43397px 258.7504px white, 1044.64816px 278.95318px white, 2643.64816px 278.95318px white, 363.75568px 138.67121px white, 1962.75568px 138.67121px white, 1287.49323px 343.40414px white, 2886.49323px 343.40414px white, 574.63549px 81.94497px white, 2173.63549px 81.94497px white, 508.7734px 453.44023px white, 2107.7734px 453.44023px white, 1547.28571px 126.17136px white, 3146.28571px 126.17136px white, 1295.93863px 204.37095px white, 2894.93863px 204.37095px white, 1553.32361px 254.13869px white, 3152.32361px 254.13869px white, 63.27683px 417.4935px white, 1662.27683px 417.4935px white, 1194.67999px 248.89391px white, 2793.67999px 248.89391px white, 1168.26233px 280.91024px white, 2767.26233px 280.91024px white, 1212.21167px 232.38961px white, 2811.21167px 232.38961px white, 253.13626px 410.66302px white, 1852.13626px 410.66302px white, 258.92352px 377.93469px white, 1857.92352px 377.93469px white, 605.95821px 144.80037px white, 2204.95821px 144.80037px white, 466.27097px 148.17413px white, 2065.27097px 148.17413px white, 1348.55685px 506.6917px white, 2947.55685px 506.6917px white, 1289.32894px 366.31026px white, 2888.32894px 366.31026px white, 375.68074px 322.41109px white, 1974.68074px 322.41109px white, 1409.05155px 195.84392px white, 3008.05155px 195.84392px white, 815.0996px 523.10596px white, 2414.0996px 523.10596px white, 622.34498px 403.46511px white, 2221.34498px 403.46511px white, 603.58355px 278.14325px white, 2202.58355px 278.14325px white, 789.84613px 224.97373px white, 2388.84613px 224.97373px white, 244.09931px 394.24372px white, 1843.09931px 394.24372px white, 278.58948px 334.59556px white, 1877.58948px 334.59556px white, 915.06696px 514.97879px white, 2514.06696px 514.97879px white, 597.13474px 470.62602px white, 2196.13474px 470.62602px white, 226.21673px 380.66125px white, 1825.21673px 380.66125px white, 236.32041px 283.93267px white, 1835.32041px 283.93267px white, 1239.19899px 22.31591px white, 2838.19899px 22.31591px white, 947.6386px 266.60768px white, 2546.6386px 266.60768px white, 1294.98259px 322.43943px white, 2893.98259px 322.43943px white, 802.66447px 158.36411px white, 2401.66447px 158.36411px white, 476.27992px 157.04381px white, 2075.27992px 157.04381px white, 906.72949px 324.29066px white, 2505.72949px 324.29066px white, 1424.94668px 64.56365px white, 3023.94668px 64.56365px white, 56.96737px 204.8689px white, 1655.96737px 204.8689px white, 1490.17546px 460.54115px white, 3089.17546px 460.54115px white, 924.6177px 377.80175px white, 2523.6177px 377.80175px white, 1489.70274px 24.8881px white, 3088.70274px 24.8881px white, 760.80604px 479.72106px white, 2359.80604px 479.72106px white, 1355.21809px 214.20426px white, 2954.21809px 214.20426px white, 1096.09207px 489.55609px white, 2695.09207px 489.55609px white, 163.27887px 274.60273px white, 1762.27887px 274.60273px white, 1213.58045px 353.8714px white, 2812.58045px 353.8714px white, 1151.33593px 55.70954px white, 2750.33593px 55.70954px white, 413.68726px 164.82121px white, 2012.68726px 164.82121px white, 143.97883px 360.93524px white, 1742.97883px 360.93524px white, 278.7361px 186.15499px white, 1877.7361px 186.15499px white, 1021.60385px 461.10625px white, 2620.60385px 461.10625px white, 1167.34998px 318.80431px white, 2766.34998px 318.80431px white, 189.6308px 365.8994px white, 1788.6308px 365.8994px white, 45.69598px 131.87494px white, 1644.69598px 131.87494px white, 56.22451px 154.76084px white, 1655.22451px 154.76084px white, 890.45552px 40.12057px white, 2489.45552px 40.12057px white, 201.15425px 216.29941px white, 1800.15425px 216.29941px white, 408.62448px 352.55877px white, 2007.62448px 352.55877px white, 582.37897px 485.75665px white, 2181.37897px 485.75665px white, 694.08488px 495.95045px white, 2293.08488px 495.95045px white, 1010.7963px 370.26148px white, 2609.7963px 370.26148px white, 1383.22306px 69.77762px white, 2982.22306px 69.77762px white, 1215.53592px 103.1376px white, 2814.53592px 103.1376px white, 497.44843px 318.78993px white, 2096.44843px 318.78993px white, 956.59117px 140.56475px white, 2555.59117px 140.56475px white, 1081.89266px 99.57424px white, 2680.89266px 99.57424px white, 444.98121px 242.40132px white, 2043.98121px 242.40132px white, 1576.67343px 334.89019px white, 3175.67343px 334.89019px white, 1170.21201px 184.99881px white, 2769.21201px 184.99881px white, 938.1123px 324.51394px white, 2537.1123px 324.51394px white, 75.83331px 312.48038px white, 1674.83331px 312.48038px white, 943.20954px 327.57632px white, 2542.20954px 327.57632px white, 1469.9848px 279.44667px white, 3068.9848px 279.44667px white, 1514.96916px 47.47201px white, 3113.96916px 47.47201px white, 913.44062px 208.79949px white, 2512.44062px 208.79949px white, 1307.61748px 159.08449px white, 2906.61748px 159.08449px white, 543.78432px 96.92604px white, 2142.78432px 96.92604px white, 196.43741px 326.34684px white, 1795.43741px 326.34684px white, 613.24937px 313.90011px white, 2212.24937px 313.90011px white, 1152.66494px 37.50094px white, 2751.66494px 37.50094px white, 765.01611px 107.03551px white, 2364.01611px 107.03551px white, 270.00576px 413.58638px white, 1869.00576px 413.58638px white, 900.16868px 334.05455px white, 2499.16868px 334.05455px white, 851.94799px 453.11519px white, 2450.94799px 453.11519px white, 1083.32853px 478.81803px white, 2682.32853px 478.81803px white, 1298.34211px 356.26088px white, 2897.34211px 356.26088px white, 569.44561px 131.74119px white, 2168.44561px 131.74119px white, 671.44278px 231.56218px white, 2270.44278px 231.56218px white, 129.15806px 259.90318px white, 1728.15806px 259.90318px white, 1551.2912px 512.92751px white, 3150.2912px 512.92751px white, 939.3266px 254.34673px white, 2538.3266px 254.34673px white, 698.77263px 462.98901px white, 2297.77263px 462.98901px white, 941.62149px 172.69551px white, 2540.62149px 172.69551px white, 1270.4475px 146.39684px white, 2869.4475px 146.39684px white; }

.snow:after {
  width: 8px;
  height: 8px;
  animation-duration: 1.1s; }

@keyframes snow {
  from {
    transform: rotate(10deg) translateY(-266.5px) translateX(-1599px); }
  to {
    transform: rotate(10deg) translateY(-266.5px) translateX(0); } }

@keyframes tail-inner {
  0% {
    transform: scale(1.1) rotate(-38deg); }
  50% {
    transform: scale(1.1) rotate(-35deg); }
  100% {
    transform: scale(1.1) rotate(-38deg); } }

@keyframes tail-outer {
  0% {
    transform: scale(1.1) rotate(-3deg); }
  50% {
    transform: scale(1.1) rotate(15deg); }
  100% {
    transform: scale(1.1) rotate(-3deg); } }

@keyframes fox {
  0% {
    transform: scale(0.55); opacity: 0; }
  5.88235% {
    transform: scale(0.6); opacity: 1; }
  11.76471% {
    transform: scale(0.7); }
  17.64706% {
    transform: scale(0.825); }
  23.52941% {
    transform: scale(0.95); }
  27.64706% {
    transform: scale(1); animation-timing-function: ease-in-out; }
  82.35294% {
    opacity: 1; }
  91.17647% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes torso {
  5.88235% {
    transform: translateY(0.25vmax); }
  11.76471% {
    transform: translateY(0.25vmax); }
  17.64706% {
    transform: translateY(0.25vmax); }
  23.52941% {
    transform: translateY(0.25vmax); }
  7.05882% {
    transform: translateY(0); }
  12.94118% {
    transform: translateY(0); }
  18.82353% {
    transform: translateY(0); }
  24.70588% {
    transform: translateY(0); } }

@keyframes head {
  5.88235% {
    transform: translateY(0.5vmax); }
  11.76471% {
    transform: translateY(0.5vmax); }
  17.64706% {
    transform: translateY(0.5vmax); }
  23.52941% {
    transform: translateY(0.5vmax); }
  7.05882% {
    transform: translateY(0); }
  12.94118% {
    transform: translateY(0); }
  18.82353% {
    transform: translateY(0); }
  24.70588% {
    transform: translateY(0); } }

@keyframes upper-left-leg {
  0% {
    transform: rotate(0); }
  5.88235% {
    transform: rotate(15deg); }
  11.76471% {
    transform: rotate(0); }
  17.64706% {
    transform: rotate(15deg); }
  23.52941% {
    transform: rotate(0); }
  26.47059% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(-5deg); } }

@keyframes lower-left-leg {
  0% {
    transform: rotate(0); }
  5.88235% {
    transform: rotate(-15deg); }
  11.76471% {
    transform: rotate(0); }
  17.64706% {
    transform: rotate(-15deg); }
  23.52941% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }

@keyframes upper-right-leg {
  5.88235% {
    transform: rotate(0); }
  11.76471% {
    transform: rotate(20deg); }
  17.64706% {
    transform: rotate(0); }
  23.52941% {
    transform: rotate(20deg); }
  29.41176% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(10deg); } }

@keyframes lower-right-leg {
  5.88235% {
    transform: rotate(0); }
  11.76471% {
    transform: rotate(-20deg); }
  17.64706% {
    transform: rotate(0); }
  23.52941% {
    transform: rotate(-20deg); }
  29.41176% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(-10deg); } }

@keyframes eyes {
  14.70588% {
    transform: rotateY(-4deg); }
  17.64706% {
    transform: rotateY(-4deg); }
  23.52941% {
    transform: rotateY(-4deg); }
  29.41176% {
    transform: rotateY(-4deg); }
  41.17647% {
    transform: rotateY(-4deg); }
  16.17647% {
    transform: rotateY(-4deg) scaleY(0.2); }
  26.47059% {
    transform: rotateY(-4deg) rotateX(-3deg) scaleY(0.2); }
  44.11765% {
    transform: rotateY(-24deg) rotateZ(-12deg) rotateX(-2deg); }
  52.94118% {
    transform: rotateY(-24deg) rotateZ(-12deg) rotateX(-2deg); }
  55.88235% {
    transform: rotateY(10deg) rotateX(1deg); }
  60% {
    transform: rotateY(10deg) rotateX(1deg); }
  63.52941% {
    transform: rotateY(10deg) rotateX(1deg); }
  70.58824% {
    transform: rotateY(10deg) rotateX(1deg); }
  61.76471% {
    transform: rotateY(10deg) rotateX(1deg) scaleY(0.2); }
  76.47059% {
    transform: rotate(0); }
  82.35294% {
    transform: rotate(0); }
  79.41176% {
    transform: rotate(0) scaleY(0.2); } }

@keyframes nose {
  14.70588% {
    transform: rotateY(-4deg); }
  23.52941% {
    transform: rotateY(-4deg); }
  29.41176% {
    transform: rotateY(-4deg); }
  41.17647% {
    transform: rotateY(-4deg); }
  26.47059% {
    transform: rotateY(-4deg) rotateX(-3deg); }
  44.11765% {
    transform: rotateX(-3deg) rotateY(-28deg) rotateZ(-11deg); }
  52.94118% {
    transform: rotateX(-3deg) rotateY(-28deg) rotateZ(-11deg); }
  55.88235% {
    transform: rotateY(7deg); }
  70.58824% {
    transform: rotateY(7deg); }
  76.47059% {
    transform: rotateY(0); } }

@keyframes ears {
  41.17647% {
    transform: initial; }
  44.11765% {
    transform: rotateY(-40deg) rotateZ(-13deg); }
  52.94118% {
    transform: rotateY(-40deg) rotateZ(-13deg); }
  55.88235% {
    transform: rotateY(-10deg); }
  70.58824% {
    transform: rotateY(-10deg); } }

@keyframes ear-left {
  23.52941% {
    transform: rotate(10deg); }
  32.35294% {
    transform: rotate(10deg); }
  41.17647% {
    transform: rotate(10deg); }
  35.29412% {
    transform: rotate(5deg); }
  44.11765% {
    transform: rotateZ(14deg) scaleX(1.2); }
  52.94118% {
    transform: rotateZ(14deg) scaleX(1.2); }
  55.88235% {
    transform: rotate(10deg); }
  70.58824% {
    transform: rotate(10deg); } }

@keyframes ear-right {
  23.52941% {
    transform: rotate(-10deg); }
  32.35294% {
    transform: rotate(-10deg); }
  41.17647% {
    transform: rotate(-10deg); }
  35.29412% {
    transform: rotate(-5deg); }
  44.11765% {
    transform: translateX(-0.95vmax) rotateZ(-7deg) scaleX(1.2); }
  52.94118% {
    transform: translateX(-0.95vmax) rotateZ(-7deg) scaleX(1.2); }
  55.88235% {
    transform: rotate(-10deg); }
  70.58824% {
    transform: rotate(-10deg); } }

@keyframes front {
  14.70588% {
    transform: translateX(-0.15vmax) skewX(5deg) scaleX(0.9); }
  23.52941% {
    transform: translateX(-0.15vmax) skewX(5deg) scaleX(0.9); }
  29.41176% {
    transform: translateX(-0.15vmax) skewX(5deg) scaleX(0.9); }
  41.17647% {
    transform: translateX(-0.15vmax) skewX(5deg) scaleX(0.9); }
  26.47059% {
    transform: translateX(-0.15vmax) skewX(5deg) scaleX(0.9) scaleY(0.9); }
  44.11765% {
    transform: translateY(0.25vmax); }
  52.94118% {
    transform: translateY(0.25vmax); }
  55.88235% {
    transform: skewX(-10deg); }
  70.58824% {
    transform: skewX(-10deg); }
  76.47059% {
    transform: skewX(0); } }

@keyframes front-before {
  41.17647% {
    transform: rotateY(90deg); }
  44.11765% {
    transform: scaleY(1.1) rotateY(35deg); }
  52.94118% {
    transform: scaleY(1.1) rotateY(35deg); }
  55.88235% {
    transform: rotateY(90deg); }
  70.58824% {
    transform: rotateY(90deg); }
  100% {
    transform: rotateY(90deg); } }

@keyframes front-after {
  41.17647% {
    transform: skewX(0); }
  44.11765% {
    transform: skewX(10deg); }
  52.94118% {
    transform: skewX(10deg); }
  55.88235% {
    transform: skewX(0); } }

@keyframes squigglevision {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0"); }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1"); }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2"); }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3"); }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4"); } }
